body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-weight: 700;
  font-size: 24;
  color: #757571; }

h2 {
  font-weight: 300;
  font-size: 60px;
  color: #A9A9A9; }

h3 {
  font-weight: 500;
  font-size: 20px; }

.status-open .fa {
  color: #76c9dd; }

.status-closed .fa {
  color: #FF3B3F; }
