<div class="row test-row">
  <div class="col-12 col-md-4 full-width" *ngFor="let name of names | sortBy: 'name'">
    <div class="row test-row2">
      <div class="col-7 col-md-12 name-block">
        <div class="row">
          <div class="col-12 name-div" *ngIf="name">
            <p class="name">{{name.name}}</p>
            <p class="test">{{name.id}}</p>
            <p class="test">{{exchanges[name.id-1].id}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 status-div" *ngIf="exchanges">
            <p class="status status-open" *ngIf="exchanges[name.id-1]?.open_status == true">
              <i class="fa fa-circle-o" aria-hidden="true"></i>
              Open and closing in:
            </p>
            <p class="status status-closed" *ngIf="exchanges[name.id-1].open_status == false">
              <i class="fa fa-circle-o" aria-hidden="true"></i>
              Closed and opening in:
            </p>
          </div>
        </div>
        <div class="row time-div" *ngIf="exchanges">
          <p class="current-time">Current time: {{exchanges[name.id-1].time}}</p>
        </div>
      </div>
      <div class="col-5 col-md-12 countdown-block" *ngIf="exchanges">
        <p class="countdown">{{exchanges[name.id-1].remaining}}</p>
      </div>
      <div class="hidden-sm-down col-md-12" *ngIf="exchanges">
        <p class="current-time-md">Local time: {{exchanges[name.id-1].time}}</p>
      </div>
    </div>
  </div>
</div>