/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

@import "../node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
